# Compiled files
*.o
*.out
*.exe

# macOS/Linux
.DS_Store

# Certificates
*.pem

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Crow docs/build
server/crow/docs/
server/crow/build/
server/crow/tests/**/CMakeFiles/
server/crow/tests/**/build/
server/crow/tests/**/*.o

# Binaries
server/connect4
server/src/*.o
server/build/

# Misc
*.log
